.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
.section-bg {
  background: rgba(245, 245, 245, 1);
}
/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 100px;
  height: 100px;
}
.nav-title {
  font-size: 32px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
}
.sign-in-btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid rgba(0, 106, 80, 1);
  color: rgba(0, 106, 80, 1);
  border-radius: 8px;
}
.sign-in-btn:hover {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  background: rgba(0, 106, 80, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
}

/* banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(198, 228, 214, 1);
  width: 1152px;
  margin: 0px auto;
  padding: 70px 90px;
  border-radius: 24px;
}

.banner-content {
  width: 549px;
}
.banner-title {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 600;
}
.banner-description {
  color: rgba(14, 14, 14, 1);
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 24px;
}

.banner-btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  background: rgba(0, 106, 80, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: none;
}
.banner-btn:hover {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgba(0, 106, 80, 1);
  color: rgba(0, 106, 80, 1);
  background: transparent;
  border-radius: 8px;
}

.banner-image {
  width: 424px;
  height: 400px;
}
/* Pillars of Bangladesh */
.pillar-cards {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.pillar-card {
  background: white;
  border-radius: 16px;
  padding: 24px;
  width: 302px;
}
/* vision of the future section */
section {
  width: 1280px;
  margin: 0px auto;
  margin-top: 80px;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 10px;
}

.section-description {
  font-size: 14px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}
.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.card-1 {
  padding: 32px;
  background: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
  border: none;
}
.card-2 {
  padding: 32px;
  background: rgba(198, 228, 214, 1);
  border-radius: 16px;
  border: none;
}
.card-3 {
  padding: 32px;
  background: rgba(247, 235, 207, 1);
  border-radius: 16px;
  border: none;
}
.card-img {
  width: 64px;
}
.card-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.card-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

.card-btn {
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.btn-1-bg {
  background: rgba(84, 144, 245, 1);
  color: white;
}
.btn-1-bg:hover {
  background: transparent;
  color: rgba(84, 144, 245, 1);
  border: 1px solid rgba(84, 144, 245, 1);
}
.btn-2-bg {
  background: rgba(9, 161, 92, 1);
  color: white;
}
.btn-2-bg:hover {
  background: transparent;
  color: rgba(9, 161, 92, 1);
  border: 1px solid rgba(9, 161, 92, 1);
}
.btn-3-bg {
  background: rgba(255, 194, 57, 1);
  color: white;
}
.btn-3-bg:hover {
  background: transparent;
  color: rgba(255, 194, 57, 1);
  border: 1px solid rgba(255, 194, 57, 1);
}

.Speech {
  padding: 20px 24px;
  border-radius: 16px;
  margin-top: 24px;
  background: white;
}
.yunus-speach {
  background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  padding: 10px 0px;
  border-radius: 16px;
  margin-top: 24px;
}

.name {
  font-size: 20px;
  margin-bottom: 1px;
}
.speach-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
}
/* Opinion */
.opinion-table {
  background: white;
  padding: 32px;
  border-radius: 16px;
  margin-top: 24px;
}
table {
  width: 1216px;
  border-collapse: collapse;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
td {
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  font-size: 16px;
  color: rgba(14, 14, 14, 1);
  font-weight: 600;
}
.select-td {
  display: flex;
  justify-content: center;
  text-align: center;
}
th {
  padding: 24px;
  background: rgba(198, 228, 214, 1);
  text-align: left;
}
.select {
  padding: 10px 14px;
  width: 152px;
  background: rgba(198, 228, 214, 1);
  border-radius: 4px;
  font-size: 16px;
}
select {
  font-size: 16px;
  color: rgba(14, 14, 14, 1);
  background: rgba(198, 228, 214, 1);
  border: none;
  outline: none;
}
option {
  width: 152px;
  text-align: center;
}

/* recent news  */
.news-conteiner {
  margin-top: 30px;
}
.news {
  background: white;
  gap: 24px;
  display: flex;
  gap: 32px;
  border-radius: 24px;
  margin-top: 30px;
  padding: 48px;
}
.news-content {
  width: 744px;
  height: 290px;
  margin-top: -20px;
}
.news-pic img {
  width: 408px;
  height: 306px;
  border-radius: 24px;
}
.news-title {
  font-size: 32px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
}
.al-img {
  width: 134px;
  height: 40px;
}
span {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.span-2 {
  margin-left: 20px;
}
.news-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.news-btn {
  padding: 13px 26px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background: rgba(0, 106, 80, 1);
  color: white;
}

.news-btn:hover {
  padding: 13px 26px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  color: rgba(0, 106, 80, 1);
  border: 1px solid rgba(0, 106, 80, 1);
}

/* Donate For Bangladesh */

.donate {
  text-align: center;
}
.donate-description {
  width: 1000px;
  margin: 0px auto;
}

.cards-taka {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.taka {
  background: white;
  padding: 0px 40px;
  border-radius: 16px;
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.taka:hover {
  background: rgba(0, 106, 80, 1);
  color: white;
}
.taka-2 {
  background: rgba(198, 228, 214, 1);
}

.donate-input {
  padding: 20px 40px;
  width: 1000px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  border: none;
  margin-bottom: 32px;
  color: rgba(14, 14, 14, 0.3);
}
.donate-btn {
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background: rgba(0, 106, 80, 1);
  color: white;
}

.donate-btn:hover {
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  color: rgba(0, 106, 80, 1);
  border: 1px solid rgba(0, 106, 80, 1);
}

/* newsletter */
.newsletter {
  text-align: center;
  background: rgba(198, 228, 214, 1);
  border-radius: 24px;
  padding: 80px 100px;
  width: 1140px;
}
.newsletter p {
  width: 560px;
  margin: 24px auto;
}
.newsletter form {
  display: flex;
  gap: 0px;
  justify-content: center;
}
.newsletter-input {
  padding: 18px 40px;
  background: white;
  text-align: center;
  border: none;
  width: 600px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: rgba(14, 14, 14, 0.3);
}
.subscribe {
  width: 150px;
  padding: 17px 34px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background: rgba(0, 106, 80, 1);
  font-size: 18px;
  color: white;
}
.subscribe:hover {
  border: 1px solid rgba(0, 106, 80, 1);
  background: white;
  color: rgba(0, 106, 80, 1);
}

/* footer */
footer {
  background: white;
  text-align: center;
  margin-top: 80px;
  padding: 50px;
}
.footer-title {
  font-size: 32px;
  font-weight: bold;
}
hr {
  width: 1122px;
  margin: 32px auto;
}
.social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}
footer img {
  width: 24px;
}
